{% extends "base.html" %}

{% block container %}

    <div class="side-body padding-top">
        <ul class="nav nav-pills">
            <br/>
            <li role="presentation" {% if status == '5' %} class="active" {% endif %}><a href="{% url 'sqldeploy:sqllist' 5 %}">所有sql</a></li>
            <li role="presentation" {% if status == '0' %} class="active" {% endif %}><a href="{% url 'sqldeploy:sqllist' 0 %}">待研发审核</a></li>
            <li role="presentation" {% if status == '1' %} class="active" {% endif %}><a href="{% url 'sqldeploy:sqllist' 1 %}">待dba审核</a></li>
            <li role="presentation" {% if status == '2' %} class="active" {% endif %}><a href="{% url 'sqldeploy:sqllist' 2 %}">待发布</a></li>
            <li role="presentation" {% if status == '3' %} class="active" {% endif %}><a href="{% url 'sqldeploy:sqllist' 3 %}">已发布</a></li>
            <li role="presentation" {% if status == '4' %} class="active" {% endif %}><a href="{% url 'sqldeploy:sqllist' 4 %}">已drop</a></li>
        </ul>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>编号</th>
                <th>标题名</th>
                <th>数据库名</th>
                <th>sql内容</th>
                <th>详情</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for sql in sqllist %}
                <tr>
                    <th>{{ sql.id }}</th>
                    <th>{{ sql.title }}</th>
                    <th>{{ sql.db_env }}</th>
                    <th>{{ sql.content }}</th>
                    <th>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal{{ sql.id }}">
                            详情
                        </button>
                    </th>
                    <th>
                        {{ sql.status }}
                        {% if sql.status == 0 %}
                            待研发审核
                        {% elif sql.status == 1 %}
                            待DBA审核
                        {% elif sql.status == 2 %}
                            待发布
                        {% elif sql.status == 3 %}
                            已发布
                        {% elif sql.status == 4 %}
                            已Drop
                        {% endif %}
                    </th>
                    <th>
                        <a href="{% url 'sqldeploy:sqldrop' sql.id request.user.id %}">
                            {% if sql.status == 0 %}
                                <button type="button" class="btn btn-success btn-sm">研发审核pass</button>
                            {% elif sql.status == 1 %}
                                <button type="button" class="btn btn-success btn-sm">DBA审核pass</button>
                            {% elif sql.status == 2 %}
                                <button type="button" class="btn btn-success btn-sm">SQL发布</button>
                            {% endif %}
                        </a>
                        <a href="{% url 'sqldeploy:sqldrop' sql.id request.user.id %}">
                            {% if sql.status == 0 or sql.status == 1 or sql.status == 2 %}
                            <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal{{ sql.id }}">drop</button>
                            {% endif %}
                        </a>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    {% for sql in sqllist %}
    <div class="modal fade" id="myModal{{ sql.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ sql.title }}</h4>
                </div>
                <div class="modal-body">
                    {{ sql.content }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
{#                    <button type="button" class="btn btn-primary">Save changes</button>#}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}