{% extends "base.html" %}

{% block container %}

    <div class="side-body padding-top">
        <h1>用户组添加权限</h1>
        <form action="{% url 'account:addperm' %}" method="POST">
            <p>用户组名：</p>
            <select name="groupname" class="form-control">
                {% for group in groups %}
                    <option value="{{ group.name }}">{{ group.name }}</option>
                {% endfor %}
            </select><br /><br />
            <p>权限名：</p>
            <select name="permname" class="form-control" >
                <{% for perm in perms %}
                    <option value="{{ perm.name }}">{{ perm.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" class="btn btn-default submit" value="用户组添加权限">
            <font color="red">{{ info }}</font>
        </form>
    </div>

{% endblock %}