{% extends "base.html" %}

{% block container %}

    <div class="side-body padding-top">
        <h1>用户添加用户组</h1>
        <form action="{% url 'account:intogroup' %}" method="POST">
            <p>用户组名：</p>
            <select name="groupname" class="form-control">
                {% for group in groups %}
                    <option value="{{ group.name }}">{{ group.name }}</option>
                {% endfor %}
            </select><br /><br />
            <p>用户名：</p>
            <select name="username" class="form-control" >
                <{% for user in users %}
                    <option value="{{ user.username }}">{{ user.username }}</option>
                {% endfor %}
            </select><br /><br />
            <input type="submit" class="btn btn-default submit" value="用户添加用户组">
            <font color="red">{{ info }}</font>
        </form>
    </div>

{% endblock %}