{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cyweb</title>
    <!-- CSS Libs -->
    {% include 'link_css.html' %}
</head>
<body class="flat-blue">
    <div class="app-container">
        <div class="row content-container">
            {% include 'nav_head.html' %}
            {% include 'nav_left.html' %}
            <!-- Main Content -->
            <div class="container-fluid">
                {% block container %}{% endblock %}
            </div>
        </div>
        {% include 'footer.html' %}
    </div>
    <!-- Javascript Libs -->
    {% include 'link_js.html' %}
</body>
</html>