{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/themes/flat-blue.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/animate.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/bootstrap-switch.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/checkbox3.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/jquery.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/dataTables.bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'lib/css/select2.min.css' %}">
